In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/Data_for_UCI_named.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [ ]:
df.shape

(10000, 14)

In [ ]:
#value counts for target variable(QScore)
df[ 'stabf' ].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [ ]:
#shuffling consistently
import sklearn.utils
df = sklearn.utils.shuffle(df)
df = df.reset_index(drop= True )
df.shape
df.stabf.value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [ ]:
# #dropping unuseful columns
# data_df = data_df.drop(columns=[ 'country_code' , 'country' , 'year' ])
X = df.drop(columns= 'stabf' )
y = df[ 'stabf' ]

In [ ]:
#split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3 , random_state= 42)
y_train.value_counts()

unstable    4432
stable      2568
Name: stabf, dtype: int64

In [ ]:
df['stabf'].unique()

array(['stable', 'unstable'], dtype=object)

In [ ]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df['stabf']= label_encoder.fit_transform(df['stabf'])

df['stabf'].unique()

array([0, 1])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  int64
dtypes: float64(13), int64(1)
memory usage: 1.1 MB

In [ ]:
y_train.value_counts()

unstable    4432
stable      2568
Name: stabf, dtype: int64

In [ ]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state= 1 )
X_train_balanced, y_balanced = smote.fit_resample(X_train, y_train)

In [ ]:
X_train_balanced.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
0,7.011987,6.356366,9.285902,8.243593,3.789226,-1.188959,-1.486400,-1.113866,0.131485,0.592989,0.870252,0.443699,0.057479
1,2.716384,9.140381,4.665366,8.809435,3.808715,-1.162961,-1.771279,-0.874475,0.864486,0.965690,0.300929,0.474689,0.040798
2,3.426800,2.888711,8.620657,9.687642,3.996081,-1.267429,-1.183530,-1.545121,0.680659,0.743758,0.994885,0.435476,0.042456
3,2.340178,5.160006,7.326144,7.942254,4.340052,-1.537041,-1.576784,-1.226227,0.202814,0.547171,0.634914,0.719543,0.049551
4,3.579115,4.680693,2.316343,6.616349,4.797099,-1.639262,-1.745028,-1.412810,0.253092,0.137574,0.889215,0.380097,-0.010788

In [ ]:
y_balanced.value_counts()

unstable    4432
stable      4432
Name: stabf, dtype: int64

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_train_df = scaler.fit_transform(X_train_balanced)
normalised_train_df = pd.DataFrame(normalised_train_df, columns=X_train_balanced.columns)
normalised_train_df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
0,0.685484,0.616565,0.924879,0.815199,0.515349,0.540760,0.342392,0.590745,0.085770,0.571577,0.863530,0.414455,0.726949
1,0.233253,0.909676,0.438438,0.874771,0.519901,0.558096,0.152457,0.750350,0.857409,0.963939,0.263971,0.447080,0.639230
2,0.308044,0.251477,0.854843,0.967229,0.563659,0.488432,0.544323,0.303223,0.663892,0.730300,0.994783,0.405797,0.647948
3,0.193646,0.490608,0.718560,0.783474,0.643992,0.308645,0.282131,0.515833,0.160859,0.523342,0.615694,0.704861,0.685257
4,0.324079,0.440144,0.191138,0.643882,0.750733,0.240481,0.169959,0.391437,0.213787,0.092138,0.883500,0.347494,0.367955

In [ ]:
normalised_train_df.shape

(8864, 13)

In [ ]:
X_test = X_test.reset_index(drop= True )
normalised_test_df = scaler.transform(X_test)
normalised_test_df = pd.DataFrame(normalised_test_df, columns=X_test.columns)
normalised_test_df.shape

(3000, 13)

In [ ]:
y_balanced.value_counts()

unstable    4432
stable      4432
Name: stabf, dtype: int64

In [ ]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(normalised_train_df, y_balanced)

LogisticRegression()

In [ ]:
log_reg.score(normalised_train_df, y_balanced)

0.9898465703971119

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, normalised_train_df, y_balanced, cv= 5 , scoring= 'f1_macro' )
scores

array([0.98815493, 0.98759162, 0.98307832, 0.98589702, 0.99040563])

In [ ]:
# from sklearn.ensemble import RandomForestRegressor
# RF = RandomForestRegressor()
# RF.fit(normalised_train_df, y_balanced)